
body{
    background-color: yellow;
}
#navbar {
    background-color:white;
    color: #3b2f2f;
   
}
.nav-link.active {
    font-weight: bold;
}
#logo{
    max-height: 30px;
    max-width: 30px;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.jpeg') no-repeat center center; /* Replace with the path to your hero image */
    background-size: cover;
    height: 100px;
    color: white;
}
.btn {
    background-color: #382f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2e2626;
}